BasedOnStyle: LLVM
AlignAfterOpenBracket: BlockIndent
AlignConsecutiveAssignments:
  Enabled: true
AlignConsecutiveDeclarations:
  Enabled: true
AlignEscapedNewlines: LeftWithLastLine
AlignOperands: AlignAfterOperator
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty
AlwaysBreakBeforeMultilineStrings: true
BinPackArguments: false
BinPackParameters: false
BreakAfterAttributes: Always
BreakBeforeBinaryOperators: NonAssignment
BreakTemplateDeclarations: Yes
ColumnLimit: 70
ConstructorInitializerIndentWidth: 2
ContinuationIndentWidth: 2
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: <[a-zA-Z0-9_]+>
    Priority: 1
  - Regex: <[a-zA-Z0-9_\.\/]+>
    Priority: 2
  - Regex: '".+"'
    Priority: 3
InsertNewlineAtEOF: true
InsertTrailingCommas: Wrapped
KeepEmptyLines:
  AtStartOfBlock: false
  AtStartOfFile: false
PackConstructorInitializers: CurrentLine
RemoveBracesLLVM: true
RequiresExpressionIndentation: Keyword
SeparateDefinitionBlocks: Always
ShortNamespaceLines: 0
SpaceBeforeCpp11BracedList: true
