name: ci

on:
  - push
  - pull_request
  - workflow_dispatch

jobs:
  build-nix:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: nixbuild/nix-quick-install-action@v31
      - uses: nix-community/cache-nix-action@v6
        with:
          primary-key: nix-${{ hashFiles('flake.nix') }}-${{ hashFiles('flake.lock') }}
          restore-prefixes-first-match: nix-${{ hashFiles('flake.nix') }}
          gc-max-store-size: 1G
          purge: true
          purge-prefixes: nix-${{ hashFiles('flake.nix') }}
          purge-primary-key: never
      - run: nix build -L
  build-apt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - run: sudo apt-get update
      - run: sudo apt-get install -y \
        build-essential \
        git \
        lld \
        cmake \
        fd-find \
        just \
        ninja-build \
        libglvnd-dev \
        libx11-dev \
        libxcursor-dev \
        libxi-dev \
        libxinerama-dev \
        libxrandr-dev
      - run: just build -DCMAKE_BUILD_TYPE=Release
